<div class="card-container">
  <nz-card style="width: 230px" [nzActions]="[actionPay, actionEdit]">
    <nz-card-meta
      [nzTitle]="titleTable"
      [nzDescription]="descriptionTable"
    ></nz-card-meta>
  </nz-card>
  <ng-template #titleTable>
    <div nz-flex [nzVertical]="false" [nzJustify]="'space-between'">
      <h5 nz-typography>Tableno: 2A</h5>
      <p nz-typography nzType="success">10000kc</p>
    </div>
  </ng-template>
  <ng-template #descriptionTable>
    <div nz-flex [nzVertical]="false" [nzJustify]="'space-between'">
      <p nz-typography nzType="warning">Dine in</p>
      <p nz-typography nzType="success">
        <span
          nz-icon
          nzType="field-time"
          nzTheme="outline"
          style="margin-right: 5px"
        ></span
        >14h00
      </p>
    </div>
  </ng-template>
  <ng-template #actionPay>
    <button nz-button nzType="primary">
      <span nz-icon nzType="red-envelope"></span>Pay
    </button>
  </ng-template>
  <ng-template #actionEdit>
    <button nz-button nzType="primary" (click)="triggerDraw()">
      <span nz-icon nzType="edit"></span>Edit
    </button>
  </ng-template>
  <nz-drawer
    [nzVisible]="isDrawed"
    nzPlacement="right"
    nzTitle="Tableno: 2A"
    nzWidth="50vw"
    [nzClosable]="true"
    [nzMaskClosable]="true"
    (nzOnClose)="triggerDraw()"
  >
    <ng-container *nzDrawerContent>
      <div nz-flex [nzVertical]="true" nzJustify="space-between" nzGap="auto">
        <div style="max-height: 500px; overflow: scroll">
          <app-payment-order></app-payment-order>
        </div>
        <div>
          <hr />
          <div
            nz-flex
            [nzVertical]="false"
            nzJustify="space-between"
            nzAlign="center"
          >
            <h5 nz-typography>Total</h5>
            <h5 nz-typography nzType="success">10000kc</h5>
          </div>
          <div
            nz-flex
            [nzVertical]="false"
            nzJustify="space-between"
            nzAlign="center"
          >
            <h5 nz-typography>Discount</h5>
            <h5 nz-typography nzType="success">100kc</h5>
          </div>
          <div nz-flex [nzVertical]="false" nzGap="10px">
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              (click)="triggerDraw()"
            >
              <span nz-icon nzType="red-envelope"></span>Pay
            </button>
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              (click)="triggerDraw()"
            >
              <span nz-icon nzType="edit"></span>Add Item
            </button>
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              (click)="triggerDraw()"
            >
              <span nz-icon nzType="printer" nzTheme="outline"></span>Print
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </nz-drawer>
</div>
